body{
  background:#efeed3ee;

#wrapper{ 
  width: 900px; 
  margin: 0 auto;
  background:#e3e6c9; 
}
#header{
position:relative;
  height: 250px; 
  background-color: #ffffff; 
  background-image: url(images/banner.jpg);
  margin-bottom: 5px; 
  border-radius: 5px; 
  box-shadow: rgba(0,0,0,0.5) 2px 1px 3px; 
}
img{ 
float: left; 
  margin: -40px 0 0 0;} /* Размещаем картинку в блоке header. 1-я и 3-я цифры - двигаем вверх-вниз, 2-я и 4-я цифры - двигаем вправо-влево */
h1{ /* Заголовок сайта */
  margin:0 0 10px 40px; /* Заголовок двигается верх-вправо-вниз-влево. */
  color:#f8f7fb; /* Цвет заголовка */
  width: 30px; ;
}



#sidebar{ 
  background-color: #ffffff; 
  width: 180px; 
  padding: 5px; 
  float: right; 
  border-radius: 10px; 
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px; 
}
.marcer{ 
  float: left; 
  margin: 5px 5px 0 0; 
}



#content{ 
  margin-bottom: 5px; 
  width: 680px; 
  padding: 10px; 
  background: #ffffff; 
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
}
.left{ 
  float: left;
  margin: 30px 7px 7px 7px;
}
.right{ 
  float: right;
  margin: 7px 0 7px 7px;
  width: 300px;
}
.imf{float: right;
  margin: 7px 0 7px 7px;
  width: 200px;
  float: none ;
}
/* Подвал */

#footer{ 
  height:80px; 
  background-color: 
  margin-bottom: 0px; 
  border-radius: 5px; 
  box-shadow: rgba(0,0,0,0.5) 0px 1px 3px; 
}
.clear{ 
  clear: both;
}
  .fon{ 
  float:left; 
  margin:20px 0 0 20px;
}
.mail{ 
  float:left;
 margin:20px 0 0 60px;
}
.tab{
  float: right;
  margin: 7px 0 7px 7px;
  width: 300px;
}



